doctype html
html(lang="en")
  head
    title test-fragment
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
    each item in htmlWebpackPlugin.files.css
      link(href="#{item}",rel="stylesheet")

  body.test-fragment-body
    main#app
    script(src="#{htmlWebpackPlugin.options.data.vendors}")
    each item in htmlWebpackPlugin.files.js
      script(src="#{item}")


