.blank-module {
  &-body {
  }
  &-view {
  }
}

ul{
  position: fixed;
  left:0;right:0;
  top:0;
  height: 50px;
  padding-top:50px;

  li{
    width:33%;
    text-align: center;
    float: left;
  }
}
.router2-home{
  height:2000px;
  background: #eee;
}


.router2-about{
  height:2000px;
  background: #f60;
}
