.product {
  &-view{}
  &-body{
    #app{
      height:100%;
    }
  }
}



.my-main-view{
  height: 100%;
  overflow: hidden;

  figure{
    >img{
      width:110%;
      height:200px;
    }
  }
  // height:2000px;
  .header,
  .footer{
    position: fixed;
    height:100px;
    line-height:100px;
    text-align: center;
    left:0;
    right:0;
    font-size:40px;
    color:#fff;
  }
  .header{
    top:0;
    background: #007aff;
  }

  .body{
    position: absolute;
    top:100px;
    bottom:100px;
  }

  .footer{
    bottom:0;
    background: #f60;
  }


  button{
    width:100%;
    display: block;
    padding:20px;
    border:none;
    background: #4cd964;
    border-radius: 10px;
  }
}

.container{
  position: relative;
  z-index: 1000;

  nav{
    height:50px;
    line-height: 50px;
    li{
      float: left;
    }
  }
}
