<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.data.cdn_ionicons %>">
  <title>测试模块</title>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body class="blank-module-body">
  <div id="app"></div>
  <script src="//dn-staticfile.qbox.me/basket.js/0.5.2/basket.full.min.js"></script>
  <script>
    basket.require(
      {url:"<%= htmlWebpackPlugin.options.data.vendors %>"},
      <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      {url:"<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"},
      <% } %>
    ).then(function() { // 按顺序引入，避免 jQuery Plugin 先于 jQuery 引入
      console.log('vendor loaded...');
    });
  </script>
</body>
</html>
